cachetools==5.3.3
evdev==1.7.0
google-auth==2.29.0
google-auth-oauthlib==1.2.0
gspread==6.1.0
maskpass==0.3.7
oauthlib==3.2.2
pwinput==1.0.3
pyasn1==0.6.0
pyasn1_modules==0.4.0
pynput==1.7.6
python-xlib==0.33
requests-oauthlib==2.0.0
rsa==4.9
stdiomask==0.0.6
StrEnum==0.4.15
